
* {
  font-family: CircularStd-Book, -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

.footer-container {
  width: 100%;
  text-align: center;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 25px;
}

#points-balance {
  font-size: 18px;
  font-weight: bold;
}

h3 {
  margin: 10px 0;
  font-weight: bold;
}

hr {
  opacity: 35%;
}
.available-rewards ul,
.store-rewards ul {
  list-style-type: none;
  padding-left: 0;
}

.available-rewards li,
.store-rewards li {
  margin: 5px 0;
}

.reward-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
  background-color: #f9f9f9; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: auto;
  min-height: 78px;
  max-height: 124px;
  cursor: pointer;
}

.reward-card div {
  font-size: 16px;
  font-weight: normal;
  text-align: center; 
  width: 100%; 
}

.reward-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.reward-subtitle {
  font-size: 14px;
  color: #666;
}

.reward-applied {
  font-size: 16px;
  color: green;
  font-weight: bold;
  text-align: center;
  width: 100%; 
}

.confirm-buttons {
  margin-top: 10px;
}

.confirm-buttons button {
  padding: 5px 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.confirm-buttons button:hover {
  background-color: #e0e0e0;
}

.disabled {
  pointer-events: none; 
  opacity: 0.6; 
}

.hidden-content {
  display: none;
}

.footer-container {
  width: 100%;
  text-align: center;
  padding: 15px;
}

#points-toggle-container {
  cursor: pointer; 
}

hr {
  opacity: 35%;
}

.hidden-content.expanded {
  display: block;
  transition: all 0.3s ease;
}

.toggle-message {
    font-size: 12px;
    color: #888;
    margin-top: 5px;
}

