* {
  font-family: CircularStd-Book, -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

.footer-container {
  width: 100%;
  text-align: center;
  padding: 15px;
  border: 1px solid;
  border-radius: 4px;
}

#points-balance {
  font-size: 18px;
  font-weight: bold;
}

h3 {
  margin: 10px 0;
  font-weight: bold;
}

hr {
  opacity: 35%;
}
.available-rewards ul,
.store-rewards ul {
  list-style-type: none;
  padding-left: 0;
}

.available-rewards li,
.store-rewards li {
  margin: 5px 0;
}

.reward-card {
  border: 1px solid;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: auto;
  min-height: 78px;
  max-height: 124px;
}

.reward-card div {
  font-size: 16px;
  font-weight: normal;
  text-align: center; 
  width: 100%; 
}

.reward-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.reward-subtitle {
  font-size: 14px;
}

.reward-applied {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: 100%; 
}

.confirm-buttons {
  margin-top: 10px;
}

.confirm-buttons button {
  padding: 5px 10px;
  margin-right: 10px;
  border: 1px solid;
  border-radius: 4px;
}

.disabled {
  pointer-events: none; 
  opacity: 0.6; 
}

.hidden-content {
  display: none;
}

.footer-container {
  width: 100%;
  text-align: center;
  padding: 15px;
}

hr {
  opacity: 35%;
}

.hidden-content.expanded {
  display: block;
  transition: all 0.3s ease;
}

.toggle-message {
    font-size: 12px;
    margin-top: 5px;
}

.show-more-btn {
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    font-size: 14px;
  
}


.skeleton {
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    border-radius: 4px;
}

.points-skeleton {
    height: 24px;
    width: 180px;
    margin: 0 auto;
    margin-bottom: 8px;
}

.toggle-skeleton {
    height: 16px;
    width: 120px;
    margin: 0 auto;
}

@keyframes loading {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

.reward-skeleton {
    height: 78px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    padding: 10px;
}

.reward-title-skeleton {
    height: 20px;
    width: 70%;
    margin-bottom: 8px;
}

.reward-subtitle-skeleton {
    height: 16px;
    width: 40%;
}
